[*.cs]

# CS8618: Null atanamaz alan, oluşturucudan çıkış yaparken null olmayan bir değer içermelidir. Alanı null atanabilir olarak bildirmeyi düşünün.
dotnet_diagnostic.CS8618.severity = silent

# IDE0055: Biçimlendirme Düzeltme
dotnet_diagnostic.IDE0055.severity = none

# IDE0044: Salt okunur değiştirici ekle
dotnet_diagnostic.IDE0044.severity = silent

# IDE0005: Using yönergesi gerekli değildir.
dotnet_diagnostic.IDE0005.severity = silent

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
